<launch>

    <node
        pkg="jsk_fetch_ros_lock_demo"
        type="dummy_known_person_publisher.py"
        name="dummy_known_person_publisher"
        output="screen"
        >
        <remap from="~input" to="/edgetpu_panorama_object_detector/bbox_array" />
        <remap from="~output_known" to="/edgetpu_panorama_object_detector/known_bbox_array" />
        <remap from="~output_unknown" to="/edgetpu_panorama_object_detector/unknown_bbox_array" />
    </node>

    <node
        pkg="jsk_fetch_ros_lock_demo"
        type="locked_move_base_server.py"
        name="locked_move_base_server"
        output="screen"
        >
        <rosparam subst_value="true">
        </rosparam>
        <remap from="~make_plan" to="/move_base_no_recovery/make_plan" />
        <remap from="~target_move_base/goal" to="/move_base_no_recovery/raw/goal" />
        <remap from="~target_move_base/result" to="/move_base_no_recovery/raw/result" />
        <remap from="~target_move_base/status" to="/move_base_no_recovery/raw/status" />
        <remap from="~target_move_base/cancel" to="/move_base_no_recovery/raw/cancel" />
        <remap from="~target_move_base/feedback" to="/move_base_no_recovery/raw/feedback" />
        <remap from="~move_base_simple/goal" to="/move_base_no_recovery_with_lock_simple/goal" />
        <remap from="~move_base/goal" to="/move_base_no_recovery_with_lock/goal" />
        <remap from="~move_base/result" to="/move_base_no_recovery_with_lock/result" />
        <remap from="~move_base/status" to="/move_base_no_recovery_with_lock/status" />
        <remap from="~move_base/cancel" to="/move_base_no_recovery_with_lock/cancel" />
        <remap from="~move_base/feedback" to="/move_base_no_recovery_with_lock/feedback" />
    </node>

</launch>
