<launch>

    <include
        file="$(find jsk_fetch_ros_lock_demo)/launch/common.launch"
        />

    <node
        pkg="jsk_fetch_ros_lock_demo"
        type="fetch-serve-person.l"
        name="fetch_serve_person"
        output="screen"
        >
        <remap
            from="~input_bbox_array"
            to="/edgetpu_panorama_object_detector/known_bbox_array" />
    </node>

</launch>
