<launch>
    <arg name="patrol_list" default="['eng2_JSKEntrance', 'eng2_7FElevator']" />

    <node
        pkg="jsk_spot_patrol_and_greeting"
        type="demo.l"
        name="jsk_spot_patrol_and_greeting_demo"
        required="true"
        output="screen"
        >
        <remap from="~greeting" to="/greeting_action_server/greeting" />
        <rosparam subst_value="true">
            patrol_list: $(arg patrol_list)
            home_id: eng2_73B2
            dock_id: 520
            receiver_address: "spot@jsk.imi.i.u-tokyo.ac.jp"
        </rosparam>
    </node>

    <!-- greeting action server -->
    <node
        pkg="jsk_spot_patrol_and_greeting"
        type="greeting_action_server.py"
        name="greeting_action_server"
        output="screen"
        >
        <remap from="~people_pose_array" to="/spot_recognition_person_tracker/people_pose_array" />

        <rosparam subst_value="true">
            receiver_address: spot@jsk.imi.i.u-tokyo.ac.jp
            capture_image_topic: /dual_fisheye_to_panorama/output
            parents_path: /spot_patrol_and_greeting/images
        </rosparam>
    </node>

</launch>
